@charset "utf-8";

$black: #262627;
$neonPink: #e91e63;

body {
	margin: 0;
	font-family: "Roboto Mono", Verdana, sans-serif;
	display: flex;
	min-height: 100vh;
	flex: 1;
}

.nav {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	background-color: $black;
	color: #fff;
	width: 200px;

	.logo {
		min-height: 100vh;

		h1 {
			margin: 0;
			transform: rotate(-90deg);
			transform-origin: left top 0;
			font-size: 4em;
			line-height: 0.5;
			position: fixed;
			bottom: 0;
			margin-left: 70px;

			.typeform {
				color: #999;
			}

			.text {
				font-family: "Charmonman", Times New Roman, serif;
				color: $neonPink;
				font-size: 1.3em;
			}
		}
	}	
}

.content {
	width: calc(100vw - 200px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	h1 {
		width: 100%;
	}
}




