{% extends 'page.html.twig' %}

{% block content %}
	<h1>Hi, {{ campaign.user }}</h1>
	<h2>Create new campaign</h2>
	<form action="/campaign/new" method="post">
		<input type="hidden" name="campaign" value="{{ campaign.id }}">
		<select name="form">
			{% for form in forms.items %}
				<option value="{{ form.id }}">{{ form.title }}</option>
			{% endfor %}
		</select>
		<textarea name="numbers" rows="5"></textarea>
		<input type="submit" value="Create">
	</form>
{% endblock %}
