{% extends 'page.html.twig' %}

{% block content %}
	<h2>To create a new campaign,</h2>
	<div class="tf-login-button"></div>
	<script type="text/javascript" src="https://public-assets.typeform.com/public/oauthbtn/btn.min.js" name="tf-login-button" data-scope="forms:read+accounts:read" data-redirect_uri="http://hackupc.dev.guymac.eu/login/callback" data-state="sso" data-client_id="{{ tfClient }}"></script>
{% endblock %}