<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Charmonman:700|Roboto+Mono:400,700" rel="stylesheet">
		<title>typeform-text</title>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="nav">
			<div class="logo">
				<h1><span class="typeform">typeform</span><span class="text">text</span></h1>
			</div>
			<a class="github" href="https://github.com/piersSR/typeform-text"><i class="fa fa-github fa-2x"></i></a>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		{% block scripts %}
		{% endblock %}
	</body>
</html>